@model Cianfrusaglie.Models.FeedBack

@{
    ViewData["Title"] = "Recensione e Feedback";
}

<form asp-action="Create" >
    <div class="panel-heading" id="my-conversations">
        <h3>@ViewData["Title"]</h3>
    </div>

    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <div class="panel panel-body" >
        <div style="display: none" >
            <input asp-for="AnnounceId" value="@(((Announce)ViewData[ "announce" ]).Id)" />
            <input asp-for="ReceiverId" value="@(( (User) ViewData[ "receiver" ] ).Id)" />
            <input asp-for="AuthorId" value="@(ViewData[ "authorId" ])" />
        </div>
        <div class="form-group" >
            <label class="control-label" >Scrivi una Recensione per l'utente @((User) ViewData[ "receiver" ])</label>
            <textarea asp-for="Text" class="form-control" rows="5" ></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="form-group" >
            <label class="control-label" >Voto</label>
            <input asp-for="Vote" class="form-control"type="number" value="3" />
            <span asp-validation-for="Vote" class="text-danger"></span>
        </div>
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
    <div>
        <a href="~/InterestedAnnounce/?id=@(((Announce)ViewData["announce"]).Id)">Torna ai miei Annunci</a>
    </div>
</form>


