@using System.Collections.Generic
@using System.Net.Mime
@using System.Threading.Tasks
@using Cianfrusaglie.Constants
@using Microsoft.AspNet.JsonPatch.Helpers
@using Microsoft.AspNet.Mvc.Rendering
@using Cianfrusaglie.Models
@model Cianfrusaglie.ViewModels.Preference.PreferenceViewModel
@{
    ViewData["Title"] = "Preferences";
}


@functions
{

    private IEnumerable<Category> GetMacroCategories()
    {
        for (int i = 0; i < (ViewData["numberOfMacroCategories"] as int? ?? 0); i++)
        {
            var categories = ViewData["formMacroCategories"] as List<Category>;
            if (categories != null && categories[i].OverCategory == null)
                yield return categories[i];
        }
    }

    private IEnumerable<Category> GetCategories(Category macro)
    {
        for (int j = 0; j < (ViewData["numberOfMacroCategories"] as int? ?? 0); j++)
        {
            var subCat = ViewData["formMacroCategories"] as List<Category>;
            if (subCat != null && subCat[j].OverCategory != null && subCat[j].OverCategory.Id == macro.Id)
                yield return subCat[j];
        }
    }

}


<html>
<head>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Register.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Search.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="~/css/maps.css" rel="stylesheet" type="text/css" />

    <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="/js/googleMaps.js"></script>

</head>
<body>
    <div>
        <form asp-action="Edit" asp-controller="Preferences" enctype="multipart/form-data" id="tabellaForm" name="tabellaForm" method="post">

            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="panel panel-default" id="sceltaCategorie">
                            <h5 id="scelta"><strong>Modifica le tue impostazioni:</strong></h5>
                        </div>
                        <div class="col-md-5" style="text-align:center">

                            <div class="panel-group" id="panel-423221">

                                @foreach (var macroCategory in GetMacroCategories())
                                {
                                    var userPreferences = (IDictionary<int, bool>)ViewData["userPreferences"];
                                    <div class="panel panel-default">
                                        <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#panel-423221" style="cursor: pointer" onclick='$("#category-@macroCategory.Id").toggle()'>
                                            @macroCategory.Name
                                        </div>
                                        <div id="category-@macroCategory.Id" class="panel-collapse collapse">
                                            <div class="panel-body" style="text-align:left;margin-left:40%">
                                                <div class="form-group">

                                                    <div class="col-md-12">

                                                        @foreach (var category in GetCategories(macroCategory))
                                                        {

                                                            <div class="checkbox">
                                                                <label asp-for="CategoryDictionary[category.Id]" for="@category.Id">
                                                                    @if (userPreferences[category.Id])
                                                                    {
                                                                        <input asp-for="CategoryDictionary[category.Id]" checked class="category-checkboxes" type="checkbox" name="category" id="@category.Id" onchange="setFieldsVisibility();" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input asp-for="CategoryDictionary[category.Id]" class="category-checkboxes" type="checkbox" name="category" id="@category.Id" onchange="setFieldsVisibility();" />

                                                                    }


                                                                    @category.Name
                                                                </label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>

                        </div>
                        <div class="col-md-5">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body" style="text-align:left">
                                        @{
                                            var user = (User)ViewData["user"];
                                            
                                        }
                                        <div class="form-group">
                                            <label asp-for="Name" class="control-label">Nome</label><br />
                                            <input asp-for="Name" value="@user.Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <!--COGNOME-->
                                        <div class="form-group">
                                            <label asp-for="Surname" class="control-label">Cognome</label><br />
                                            <input asp-for="Surname" value="@user.Surname" class="form-control" />
                                            <span asp-validation-for="Surname" class="text-danger"></span>
                                        </div>
                                        <!--SESSO-->
                                        <div class="form-group">
                                            <label asp-for="Genre" class="control-label">Sesso</label><br />
                                            
                                                @if (user.Genre.Equals(Genre.Male))
                                                {
                                                    <label class="radio-inline"><input asp-for="Genre" type="radio" name="Genre" value="@((int)Genre.Male)" checked />Uomo</label><br />
                                                }
                                                else
                                                {
                                                    <label class="radio-inline"><input asp-for="Genre" type="radio" name="Genre" value="@((int)Genre.Male)"  />Uomo</label><br />

                                                }
                                                @if (user.Genre.Equals(Genre.Female))
                                                {
                                                    <label class="radio-inline"><input asp-for="Genre" type="radio" name="Genre" value="@((int)Genre.Female)"  checked />Donna</label><br />
                                                }
                                                else
                                                {
                                                    <label class="radio-inline"><input asp-for="Genre" type="radio" name="Genre" value="@((int)Genre.Female)"  />Donna</label><br />

                                                }
                                                @if (user.Genre.Equals(Genre.Unspecified))
                                                {
                                                    <label class="radio-inline"><input asp-for="Genre" type="radio" name="Genre" value="@((int)Genre.Unspecified)"  checked />Non specificato</label>
                                                }
                                                else
                                                {
                                                    <label class="radio-inline"><input asp-for="Genre" type="radio" name="Genre" value="@((int)Genre.Unspecified)"  />Non specificato</label>

                                                }
                                            
                                            <span asp-validation-for="Genre" class="text-danger"></span>
                                        </div>
                                        @*<div class="form-group">
                                <label asp-for="Photo" class="control-label">Inserisci il tuo indirizzo ( Citt&agrave;, indirizzo)</label>
                                <input id="pac-input"  class="form-control" type="text" placeholder="">
                                <div id="googleMap" style="display: none;"></div>
                                <input asp-for="Latitude" id="latitudeInput" class="form-control" type="text" style="display: none;" />
                                <input asp-for="Longitude" id="longitudeInput" class="form-control" type="text" style="display: none;" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Photo" class="control-label">Immagine profilo</label>
                                <input asp-for="Photo" class="input-file" id="photo" name="photo" type="file" accept="image/*">
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>*@

                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label">Indirizzo email</label><br />
                                            <input asp-for="Email" id="email" value="@user.Email" type="email" required="" class="form-control" />
                                            <span asp-validation-for="Email" id="emaildanger" class="text-danger"></span>
                                        </div>
                                        
                                        <div class="form-group">
                                            @{
                                                var errorePassword = ViewData["errorePassword"];

                                                if (!errorePassword.Equals(""))
                                                {
                                                   <span style="color:red">@errorePassword</span><br />

                                                }
                                            }
                                            <label asp-for="VecchiaPassword" class="control-label">Vecchia password</label><br />
                                            <input asp-for="VecchiaPassword"  type="password"  class="form-control" />
                                            <span asp-validation-for="VecchiaPassword" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Password" class="control-label">Password</label><br />
                                            <input asp-for="Password" type="password"  minlength="8" class="form-control" id="popoverData" />
                                            <span asp-validation-for="Password" id="pwdlen" class="text-danger" data-trigger="hover" rel="popover"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword" class="control-label">Ripeti password</label><br />
                                            <input asp-for="ConfirmPassword" type="password"  id="confirmPassword" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword" id="wrongpwd" class="text-danger"></span>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                    
                    
            <div class="form-group" style="text-align:center">
                <br />
                <button class="btn btn-default  btn-next" type="submit">Conferma</button>
                <a href="~/Profile" class="btn btn-default  btn-next">Annulla</a>
            </div>
        </form>
    </div>
</body>
</html>


<script type="text/javascript">
    var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
    $('#popoverData').keyup( passwordCheck );
    $("#confirmPassword").keyup(passwordCheck);


    $("#email").focusout(function () {
        var email = $('#email').val();
        $.post("/Account/CheckEmailAlreadyExists",
                           {
                               email: email,
                               __RequestVerificationToken: antiForgeryToken

                           })
            .success(function (res) {
                if (res) {
                    $('#emaildanger').html("L'email inserita esiste già.")
                } else {
                    $('#emaildanger').html("")
                }
            });
    });
    function passwordCheck() {
        if ($('#popoverData').val().length < 8)
            $('#pwdlen').html('La password deve contenere almeno 8 caratteri!');
        else
            $('#pwdlen').html('');

        if ($("#popoverData").val() != $("#confirmPassword").val())
            $("#wrongpwd").html('La password di conferma è diversa dalla password!');
        else
            $("#wrongpwd").html('');
    }
</script>
