@using System
@using System.Collections.Generic
@using System.Security.Claims
@using System.Threading.Tasks
@using Cianfrusaglie.Constants
@inject SignInManager<User> SignInManager
@functions
{

    public IEnumerable<Category> GetCategories()
    {
        var t = ViewData["numberOfCategories"];
        for (var i = 0; i < (ViewData["numberOfCategories"] as int? ?? 0); i++)
        {
            var categories = ViewData["formCategories"] as List<Category>;
            if (categories != null && categories[i].OverCategory == null)
                yield return categories[i];
        }
    }

    public IEnumerable<Category> GetSubCategories(String macro)
    {
        for (var j = 0; j < (ViewData["numberOfCategories"] as int? ?? 0); j++)
        {
            var subCat = ViewData["formCategories"] as List<Category>;
            if (subCat != null && subCat[j].OverCategory != null && subCat[j].OverCategory.Name == macro)
                yield return subCat[j];
        }
    }


}

<!DOCTYPE html>
<html>
<head>
    <title>CianfrusApp.net</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <script src="~/js/site.js" ></script>
    <script src="~/js/StarRatingFunctions.js" ></script>
    <script src="~/dist/spin.min.js"></script>
    <script src="~/dist/ladda.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Advanced.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css"/>
    <link href= "~/Content/Create.css"  rel="stylesheet" type="text/css"/>
    <link href="~/Content/StarRating.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SubmitAnnounce.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/VisualizzaAnnuncio.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Search.css"  rel="stylesheet" type="text/css" />
    <link href="~/Content/Messages.css"  rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href= 'https://fonts.googleapis.com/css?family=Roboto'  rel='stylesheet' type='text/css' >
    <link rel="stylesheet" href="~/dist/ladda-themeless.min.css">
    

   @RenderSection("scripts", required: false) 
</head>
<body>
<div id="wrap">
    <div id="pageHeader" class="container ">
        <form class="navbar-form" role="search" asp-action="SearchRedirect" asp-controller="Search" method="get">
            <div class="row container-fluid">
                <div id="title" class="col-md-4 col-sm-12">
                    <a href="~/">
                        <h1>
                            @CommonStrings.SiteName
                        </h1>
                        <h5>Il posto giusto per le tue cianfrusaglie</h5>
                    </a>
                </div>

                <div id="barraRicerca" class="form-group row input-search col-md-6 col-sm-12">
                    <div class="input-block">
                        <input name="title" type="text" class="form-control" style="width:70%; display: inline;margin-left:1em;" placeholder="Cerca">
                        <button type="submit" class="btn btn-warning btn-search"><span class="glyphicon glyphicon-search"></span></button>
                    </div>

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#" data-toggle="modal" data-target="#myWindow" style="margin-left:1em;">Ricerca Avanzata</a>
                    }
                    else
                    {
                        <a href="~/Search/Advanced" style="margin-left:1em;">Ricerca Avanzata</a>
                    }
                </div>
            </div>
        </form>
    </div>
    <nav id="horizontalMenu" class="navbar navbar-default" data-spy="affix" data-offset-top="100">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse" id="websiteNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-large">
                    <a href="~/" class="navbar-item"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <li class="dropdown dropdown-large hidden-xs" >
                    <a href="#" class="dropdown-toggle navbar-item" data-toggle="dropdown" ><span class="glyphicon glyphicon-search"></span> Cerca per categoria <b class="caret" ></b></a>
                    <ul class="dropdown-menu dropdown-menu-large" >
                        @foreach( var macro in GetCategories() ) {
                            <li>
                                <a href="~/Search?categories=@macro.Id" >@macro.Name</a>
                                @if( GetSubCategories( @macro.Name ).ToList().Count > 0 ) {
                                    if( @macro.Name.Equals( "MisteryBox" ) ) {
                                        <ul class="dropdown-menu sub-menu" style="height: auto;" >
                                            <li class="dropdown-header" style="margin-top: 10px" >@macro.Name</li>
                                            <li class="divider" ></li>
                                            <li><a href="~/Search?categories=@macro.Id" >Visualizza tutti</a></li>
                                            <li class="divider" ></li>
                                            @foreach( var sub in GetSubCategories( @macro.Name ) ) {
                                                <li><a href="~/Search?categories=@sub.Id" >@sub.Name</a></li>
                                                <li class="divider" ></li>
                                                <li><a href="" style="text-align: justify; font-size: 0.8em; font-style: italic;" ><br />Il contenuto di un intero cassetto, collezioni di oggetti complete e non, le anticaglie di un baule emerso dalla cantina della nonna... Dentro una <strong>MisteryBox</strong> puoi trovare cianfrusaglie di qualsiasi tipo!</a></li>
                                            }
                                        </ul>
                                    } else {
                                        <ul class="dropdown-menu sub-menu" >
                                            <li class="dropdown-header" style="margin-top: 10px" >@macro.Name</li>
                                            <li class="divider" ></li>
                                            <li><a href="~/Search?categories=@macro.Id" >Visualizza tutti</a></li>
                                            <li class="divider" ></li>
                                            @foreach( var sub in GetSubCategories( @macro.Name ) ) {
                                                <li><a href="~/Search?categories=@sub.Id" >@sub.Name</a></li>
                                            }
                                        </ul>
                                    }
                                }
                            </li>
                        }
                    </ul>
                </li>
                @if( User.IsSignedIn() ) {
                    <li class="dropdown dropdown-large" >
                        <a href="~/History/Index" class="navbar-item" ><span class="glyphicon glyphicon-gift"></span> I miei annunci</a>
                    </li>
                    <li class="visible-xs-block dropdown dropdown-large" >
                        <a class="navbar-item" href="~/History/MyHistory" ><span class="glyphicon glyphicon-book"></span> Il mio storico</a>
                    </li>
                    <li class="dropdown dropdown-large" >
                        <a href="~/Messages" class="navbar-item" ><span class="glyphicon glyphicon-envelope"></span> Messaggi</a>
                    </li>
                    <li class="visible-xs-block dropdown dropdown-large" >
                        <a class="navbar-item" href="~/Profile" ><span class="glyphicon glyphicon-king"></span> Il mio profilo</a>
                    </li>
                    <li class="visible-xs-block dropdown dropdown-large" >
                        <a class="navbar-item" href="~/Preferences/Index" ><span class="glyphicon glyphicon-cog"></span> Impostazioni profilo</a>
                    </li>
                    if (ViewData["IsThereAnyNotification"] as bool? ?? false)
                    {
                        <li class="visible-xs-block dropdown dropdown-large">
                            <a class="navbar-item"><span class="glyphicon glyphicon-fire notification-icon" style="font-size: 2.2em; color: red; vertical-align: middle"></span>&nbsp;&nbsp;Ci sono notifiche!</a>
                        </li>
                    }
                }
            </ul>

            <ul class="nav navbar-nav navbar-right" >
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        @{

                            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                            if (loginProviders.Count != 0)
                            {

                                <form asp-controller="Account" asp-action="ExternalLogin" style="margin-top:10px;"asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                                    <div>
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <button type="submit" class="btn btn-block btn-social btn-facebook" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><span class="fa fa-facebook"></span> Login con Facebook</button>

                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </li>
                    <li>
                        <a class="navbar-item" href="~/Account/Register" id="regLink"><span class="glyphicon glyphicon-user"></span> Registrazione</a>
                    </li>
                }
                else
                {
                    @* Pulsante Notifiche *@


                    <li class="dropdown dropdown-large hidden-xs">
                        @* TODO Sostituire con "IsThereAnyNotification" quando saranno presenti altri tipi di notifiche *@
                        @if (ViewData["IsThereAnyNotification"] as bool? ?? false)
                        {
                            Sentences sent = new Sentences();
                            <a href="#" class="dropdown-toggle navbar-item" data-toggle="dropdown" style="margin-top: -5px; padding-bottom: 0px;" >
                                Notifiche <span class="glyphicon glyphicon-fire notification-icon" style="font-size: 2.2em; color: red; vertical-align: middle"></span> <b class="caret" ></b>
                            </a>
                            
                            <ul class="dropdown-menu dropdown-menu-large" style="left: auto; right: 0">
                                @if ((int)ViewData["IsThereNewMessages"]==1)
                                {

                                    <li class="dropdown-header">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        <span><a href=@sent.Sentence[(int) MessageTypeNotification.NewMessage].Last()>
                                                @sent.Sentence[(int) MessageTypeNotification.NewMessage].First()  
                                              </a>
                                        </span>
                                    </li>


                                }
                                else if ((int)ViewData["IsThereNewMessages"] > 1)
                                {
                                    <li class="dropdown-header">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        <span>
                                            <a href=@sent.Sentence[(int) MessageTypeNotification.NewMoreMessages].Last()>
                                                @sent.Sentence[(int)MessageTypeNotification.NewMoreMessages].First()
                                            </a>
                                        </span>
                                    </li>
                                }
                                @{
                                    if (ViewData["IsThereNewInterested"] as bool? ?? false)
                                    {
                                        <li class="dropdown-header">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            <span>
                                                <a href=@sent.Sentence[(int) MessageTypeNotification.NewInterested].Last()>
                                                    @sent.Sentence[(int)MessageTypeNotification.NewInterested].First()
                                                </a>
                                            </span>
                                        </li>
                                    }
                                    if (ViewData["IsThereNewAnnouncesWhereIAmChoosed"] as bool? ?? false)
                                    {
                                        <li class="dropdown-header">
                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                            <span>
                                                <a href=@sent.Sentence[(int) MessageTypeNotification.NewChoosed].Last()>
                                                    @sent.Sentence[(int) MessageTypeNotification.NewChoosed].First()
                                                </a>
                                            </span>
                                        </li>
                                    }
                                    if (ViewData["IsThereNewAnnouncesWhereIAmNotChoosed"] as bool? ?? false)
                                    {
                                        <li class="dropdown-header">
                                            <span class="glyphicon glyphicon-fire"></span>
                                            <span>
                                                <a href=@sent.Sentence[(int) MessageTypeNotification.NewAnotherChoosed].Last()>
                                                    @sent.Sentence[(int) MessageTypeNotification.NewAnotherChoosed].First()
                                                </a>
                                            </span>
                                        </li>
                                    }
                                    if (ViewData["IsNewFeedbackRequired"] as bool? ?? false)
                                    {
                                        <li class="dropdown-header">
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                            <span>
                                                <a href=@sent.Sentence[(int) MessageTypeNotification.NewFeedback].Last()>
                                                    @sent.Sentence[(int)MessageTypeNotification.NewFeedback].First()
                                                </a>
                                            </span>
                                        </li>
                                    }
                                    if (ViewData["IsThereNewFeedback"] as bool? ?? false)
                                    {
                                        <li class="dropdown-header">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span>
                                                <a href=@sent.Sentence[(int) MessageTypeNotification.NewReceivedFeedback].Last()>
                                                    @sent.Sentence[(int)MessageTypeNotification.NewReceivedFeedback].First()
                                                </a>
                                            </span>
                                        </li>
                                    }
                                }
                            </ul>
                                    }
                                    else
                                    {
                            <!-- Nessuna nuova notifica -->
                            <a href="#" class="dropdown-toggle navbar-item" data-toggle="dropdown" style="margin-top: -5px; padding-bottom: 0px;">
                                Notifiche <span class="glyphicon glyphicon-fire" style="font-size: 2.2em; color: silver; vertical-align: middle"></span> <b class="caret" ></b>
                            </a>

                                        <ul class="dropdown-menu dropdown-menu-large" style="left: auto; right: 0">
                                            <li style="text-align: center; padding: 1em">
                                                <span>Nessuna notifica</span>
                                            </li>
                                        </ul>
                                    }
                        </li>

                        @* Menù profilo *@
                    <li class="dropdown dropdown-large hidden-xs" >
                        <a href="#" class="dropdown-toggle navbar-item" data-toggle="dropdown" >
                            <div class="col-md-1" style="padding-left: 0px; padding-right: 3em; max-height: 2em;">
                                <div class="photo navbar-avatar panel panel-default" style="margin-top: -4px;">
                                    <img class="img-responsive" src=@ViewData[ "MyAvatar" ] as string />
                                </div>
                            </div>
                            @User.Identity.Name <b class="caret" ></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-large" style="left: auto; right: 0" >
                            <li class="dropdown-header" >
                                <a href="~/Profile" class="WantOrange" >
                                    <span class="glyphicon glyphicon-user"></span> 
                                    Profilo
                                </a>
                            </li>
                            <li><a href="~/History/Index" >I miei annunci</a></li>
                            <li><a href="~/History/MyHistory" >Il mio storico</a></li>
                            <li><a href="~/Profile" >Il mio profilo</a></li>
                            <li><a href="~/Preferences/Index" >Impostazioni profilo</a></li>
                            <li class="divider" ></li>
                            <li class="dropdown-header" >
                                <a href="~/Messages" class="WantOrange" >
                                    <span class="glyphicon glyphicon-envelope"></span> 
                                    Messaggi
                                </a>
                            </li>
                            <li><a href="~/Messages" >Le mie conversazioni</a></li>
                            <li class="divider" ></li>
                            <li class="dropdown-header" >
                                <a href="~/Announces/Create" class="WantOrange" >
                                    <span class="glyphicon glyphicon-pencil"></span> 
                                    Inserisci un annuncio
                                </a>
                            </li>
                            <li><a href="~/Announces/Create" >Liberati di una cianfrusaglia</a></li>
                            <li><a href="~/Announces/Create/?vendita=true" >Vendi quello che non ti serve</a></li>
                            <!-- <li><a href="" >Baratta</a></li>
                            <li><a href="" >Stai cercando un oggetto in particolare?</a></li>
                            -->
                        </ul>
                    </li>
                                        }
                @if (!User.Identity.IsAuthenticated)
                {
                    
                    <li>
                        <a class="navbar-item" href="~/Account/Login" id="logLink"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="navbar-item" href="~/Account/LogOff"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    @RenderBody()
</div>

    <div class="modal fade" id="myWindow" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registati o effettua login per utilizzare il nostro sito</h4>
                </div>
                <div class="modal-body" style="height: 7em; text-align: center;">
                    <a href="~/Account/Register" style="color: white"><button class="btn btn-warning btn-md">Registrati</button></a>
                    <a href="~/Account/Login" style="color: white"><button class="btn btn-warning btn-md">Accedi</button></a>
                    @{

                        var loginProviders2 = SignInManager.GetExternalAuthenticationSchemes().ToList();
                        if (loginProviders2.Count != 0)
                        {

                            <form asp-controller="Account" asp-action="ExternalLogin" style="margin-top: 10px; text-align: center" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                                
                                    
                                        @foreach (var provider in loginProviders2)
                                        {
                                            <button type="submit" class="btn btn-social btn-facebook" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account" style="width: auto"><span class="fa fa-facebook"></span> Registrati con Facebook</button>

                                        }
                                    
                                
                            </form>
                        }
                    }
                    
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                </div>
            </div>

        </div>
    </div>
    
    <div id="confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Dichiarando che vuoi l'oggetto, l'autore dell'annuncio potr&agrave; selezionarti come destinatario.<br>
                       Vuoi continuare?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="confirmbtn">Conferma</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>

<div id="notConfirm" class="modal fade" >
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-body" >
                <p>
                    Sicuro di non voler pi&ugrave; l' oggetto??
                </p>
            </div>

            <div class="modal-footer" >
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="confirmbtn" >Conferma</button>
                <button type="button" data-dismiss="modal" class="btn" >Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="choosen" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        Sei stato scelto per questo oggetto!
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">Ok</button>
                </div>
            </div>
        </div>
    </div>

    

    
    
            <div id="footer" class="panel-footer">
                Copyright © 2016 Mugugno / All rights reserved.
            </div>

<script src="~/js/AnnounceDetails.js"></script>
<script type="text/javascript">
    $('#popoverData').popover({ html: true });
</script>

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message": "Questo sito utilizza cookie per garantirti una migliore esperienza sul nostro sito.",
            "dismiss": "Ho capito!",
            "learnMore": "Più informazioni",
            "link": "/Privacy/index.html",
            "theme": "dark-top"
        };
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->


</body>
</html>