@using System
@using System.Collections.Generic
@using System.Threading.Tasks
@using Cianfrusaglie.Constants
@functions
{

    public IEnumerable<Category> GetCategories()
    {
        var t = ViewData["numberOfCategories"];
        for (var i = 0; i < (ViewData["numberOfCategories"] as int? ?? 0); i++)
        {
            var categories = ViewData["formCategories"] as List<Category>;
            if (categories != null && categories[i].OverCategory == null)
                yield return categories[i];
        }
    }

    public IEnumerable<Category> GetSubCategories(String macro)
    {
        for (var j = 0; j < (ViewData["numberOfCategories"] as int? ?? 0); j++)
        {
            var subCat = ViewData["formCategories"] as List<Category>;
            if (subCat != null && subCat[j].OverCategory != null && subCat[j].OverCategory.Name == macro)
                yield return subCat[j];
        }
    }


}

<!DOCTYPE html>
<html>
<head>
    <title>CianfrusApp.net</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <script src="~/js/site.js" ></script>
    <script src="~/js/StarRatingFunctions.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Home.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Advanced.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css"/>
    <link href= "~/Content/Create.css"  rel="stylesheet" type="text/css"/>
    <link href="~/Content/StarRating.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SubmitAnnounce.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/VisualizzaAnnuncio.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Search.css"  rel="stylesheet" type="text/css" />
    <link href= "~/Content/Messages.css"  rel="stylesheet" type="text/css" />
    <link href="~/css/maps.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    
</head>
<body>
<div id="wrap">
    <div id="pageHeader" class="container " style="background-color: ">
        <form class="navbar-form" role="search" asp-action="SearchRedirect" asp-controller="Search" method="get">
            <div id="title" class="col-md-3" >
                <a href="~/" >
                    <h1>
                        @CommonStrings.SiteName
                    </h1>
                    <h5>Il posto giusto per le tue cianfrusaglie</h5>
                </a>
            </div>

            <div id="barraRicerca" class="form-group row input-search" >
                <div class="input-block">
                    <input name="title" type="text" class="form-control" placeholder="Cerca" size="55">
                    <button type="submit" class="btn btn-warning btn-search"><span class="glyphicon glyphicon-search"></span></button>
                </div>
                <a href="~/Search/Advanced">Ricerca Avanzata</a>
            </div>
        </form>
    </div>
    <nav id="horizontalMenu" class="navbar navbar-default" data-spy="affix" data-offset-top="100">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-large">
                    <a href="~/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <li class="dropdown dropdown-large" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Cerca per categoria <b class="caret" ></b></a>
                    <ul class="dropdown-menu dropdown-menu-large" >
                        @foreach( var macro in GetCategories() ) {
                            <li>
                                <a href="~/Search?categories=@macro.Id" >@macro.Name</a>
                                @if (GetSubCategories(@macro.Name).ToList().Count > 0)
                                {
                                    if (@macro.Name.Equals("MisteryBox"))
                                    {
                                        <ul class="dropdown-menu sub-menu" style="height: auto;">
                                            <li class="dropdown-header" style="margin-top: 10px">@macro.Name</li>
                                            <li class="divider"></li>
                                            <li><a href="~/Search?categories=@macro.Id">Visualizza tutti</a></li>
                                            <li class="divider"></li>
                                            @foreach (var sub in GetSubCategories(@macro.Name))
                                            {
                                                <li><a href="~/Search?categories=@sub.Id">@sub.Name</a></li>
                                                        <li class="divider"></li>
                                                <li><a href="" style="text-align: justify; font-size: 0.8em; font-style: italic;"><br/>Il contenuto di un intero cassetto, collezioni di oggetti complete e non, le anticaglie di un baule emerso dalla cantina della nonna... Dentro una <strong>MisteryBox</strong> puoi trovare cianfrusaglie di qualsiasi tipo!</a></li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                    <ul class="dropdown-menu sub-menu">
                                        <li class="dropdown-header" style="margin-top: 10px">@macro.Name</li>
                                        <li class="divider"></li>
                                        <li><a href="~/Search?categories=@macro.Id">Visualizza tutti</a></li>
                                        <li class="divider"></li>
                                        @foreach (var sub in GetSubCategories(@macro.Name))
                                        {
                                            <li><a href="~/Search?categories=@sub.Id">@sub.Name</a></li>
                                        }
                                    </ul>
                                    }
                                }
                            </li>
                        }
                    </ul>
                </li>
                <!--
                <li class="dropdown dropdown-large">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#" data-toggle="modal" data-target="#myWindow">Sto Cercando</a>
                    }
                    else
                    {
                        <a href="#">Sto Cercando</a>
                    }
                </li>
                <li class="dropdown dropdown-large" >
                    <a href="#" >Come funziona <strong>@CommonStrings.SiteName</strong></a>
                </li>
                -->
            </ul>

            <ul class="nav navbar-nav" id="menuRight">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="~/Account/Register" id="regLink"><span class="glyphicon glyphicon-user"></span> Registrazione</a>
                    </li>
                }
                else
                {
                    @* Pulsante Notifiche *@
                    <li class="dropdown dropdown-large">
                        @* TODO Sostituire con "IsThereAnyNotification" quando saranno presenti altri tipi di notifiche *@
                        @if (ViewData["IsThereAnyNotification"] as bool? ?? false)
                        {
                            <a href="#" class="dropdown-toggle glyphicon glyphicon-send" data-toggle="dropdown" style="font-size: 2em; color: red;"><b class="caret"></b></a>
                            <ul class="dropdown-menu dropdown-menu-large" style="left: auto; right: 0">
                                @if (ViewData["IsThereNewMessage"] as bool? ?? false)
                                {

                                    <li class="dropdown-header">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        <span><a href="~/Messages"> Hai nuovi Messaggi da leggere!</a></span>
                                    </li>


                                }
                                @{
                                    if (ViewData[" IsThereNewInterested"] as bool? ?? false)
                                    {
                                        <li class="dropdown-header">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            <span><a href="~/History/Index"> Hai nuovi Interessati ai tuoi annunci!</a></span>
                                        </li>
                                    }
                                }
                            </ul>
                                    }
                                    else
                                    {
                                        <a href="#" class="dropdown-toggle glyphicon glyphicon-inbox" data-toggle="dropdown" style="font-size: 2em"><b class="caret"></b></a>
                                        <ul class="dropdown-menu dropdown-menu-large" style="left: auto; right: 0">
                                            <li style="text-align: center; padding: 1em">
                                                <span>Nessuna notifica</span>
                                            </li>
                                        </ul>
                                    }
                        </li>

                        @* Menù profilo *@
<li class="dropdown dropdown-large">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Benvenuto/a @User.Identity.Name <b class="caret"></b></a>
                                            <ul class="dropdown-menu dropdown-menu-large" style="left: auto; right:0">
                                                <li class="dropdown-header"><span class="glyphicon glyphicon-user"></span> Profilo</li>
                                                <li><a href="~/History/Index">I miei annunci</a></li>
                                                <li><a href="~/InterestedIn/Index">Annunci che mi interessano</a></li>
                                                <li><a href="~/Preferences/Index">Le mie preferenze</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header"><span class="glyphicon glyphicon-envelope"></span> Messaggi</li>
                                                <li><a href="~/Messages">Le mie conversazioni</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header"><span class="glyphicon glyphicon-pencil"></span> Inserisci un annuncio</li>
                                                <li><a href="~/Announces/Create">Liberati di una cianfrusaglia</a></li>
                                                <li><a href="">Vendi quello che non ti serve</a></li>
                                              <!--  <li><a href="">Baratta</a></li>
                                                <li><a href="">Stai cercando un oggetto in particolare?</a></li>
                                                  -->
                                            </ul>
                                        </li>
                                        }
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="~/Account/Login" id="logLink"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/Account/LogOff"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    @RenderBody()
</div>

    <div class="modal fade" id="myWindow" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registati o effettua login per utilizzare il nostro sito</h4>
                </div>
                <div class="modal-body"  style="height: 6em; text-align: center; vertical-align: middle;">
                    <button class="btn btn-warning btn-lg"><a href="~/Account/Register" style="color: white">REGISTRATI QUI</a></button>
                    <button class="btn btn-warning btn-lg"><a href="~/Account/Login" style="color: white">LOGIN</a></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    
    <div id="confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Dichiarando che vuoi l' oggetto l' autore dell' annuncio potr&agrave; selezionarti come destinatario.<br>
                       Vuoi continuare??</p>
                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="confirmbtn">Conferma</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="notConfirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        Sicuro di non voler pi&ugrave; l' oggetto??
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="confirmbtn">Conferma</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    
            <div id="footer" class="panel-footer">
                Copyright © 2016 Mugugno / All rights reserved.
            </div>

<script src="~/js/AnnounceDetails.js"></script>
<script type="text/javascript">
    $('#popoverData').popover({ html: true });
</script>

</body>
</html>