

@functions
{

    public IEnumerable<Category> GetCategories()
    {
        for (var i = 0; i < (ViewData["numberOfCategories"] as int? ?? 0); i++)
        {
            var categories = ViewData["formCategories"] as List<Category>;
            if (categories != null && categories[i].OverCategory == null)
                yield return categories[i];
        }
    }

    public IEnumerable<Category> GetSubCategories(String macro)
    {
        for (var j = 0; j < (ViewData["numberOfCategories"] as int? ?? 0); j++)
        {
            var subCat = ViewData["formCategories"] as List<Category>;
            if (subCat != null && subCat[j].OverCategory != null && subCat[j].OverCategory.Name == macro)
                yield return subCat[j];
        }
    }

    public IEnumerable<Announce> GetAnnounce()
    {
        foreach (var announce in ViewData["listAnnounces"] as List<Announce>)
        {
            yield return announce;
        }
    }

}

<div id="wrap">

<nav id="horizontalMenu" class="navbar navbar-default" data-spy="affix" data-offset-top="100" >
    <div class="navbar-header" >
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse" >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse js-navbar-collapse" >
        <ul class="nav navbar-nav" >
            <li class="dropdown dropdown-large" >
                <a href="~/" ><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li class="dropdown dropdown-large" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Cerca per categoria <b class="caret" ></b></a>
                <ul class="dropdown-menu dropdown-menu-large" >
                    @foreach( var macro in GetCategories() ) {
                        <li>
                            <a href="~/Search?categories=@macro.Id" >@macro.Name</a>
                            @if( GetSubCategories( @macro.Name ).ToList().Count > 0 ) {
                                <ul class="dropdown-menu sub-menu" >
                                    <li class="dropdown-header" >@macro.Name</li>
                                    <li class="divider" ></li>
                                    @foreach( var sub in GetSubCategories( @macro.Name ) ) {
                                        <li><a href="#" >@sub.Name</a></li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </li>
            <li class="dropdown dropdown-large" >
                @if( !User.Identity.IsAuthenticated ) {
                    <a href="#" data-toggle="modal" data-target="#myWindow" >Sto Cercando</a>
                } else {
                    <a href="#" >Sto Cercando</a>
                }
            </li>
            <li class="dropdown dropdown-large" >
                <a href="#" >Come funziona <strong>nonhounnome.it</strong></a>
            </li>
        </ul>

        <ul class="nav navbar-nav" id="menuRight" >
            <li>
                @if( !User.Identity.IsAuthenticated ) {
                    <a href="~/Account/Register" id="regLink" ><span class="glyphicon glyphicon-user"></span> Registrazione</a>
                } else {
                    <a href="#" ><span class="glyphicon glyphicon-user"></span> Profilo</a>
                }
            </li>
            <li>
                @if( !User.Identity.IsAuthenticated ) {
                    <a href="~/Account/Login" id="logLink" ><span class="glyphicon glyphicon-log-in"></span> Login</a>
                } else {
                    <a href="~/Account/LogOff" ><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                }
            </li>
        </ul>
    </div>
</nav>
    @if(TempData["announceCreated"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
            <strong>Ottimo!</strong> @TempData["announceCreated"].
        </div>
    }
    <div class="container-fluid" id="containerPrincipale">
        <div id="homeCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" style="z-index: 1">
                <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#homeCarousel" data-slide-to="1"></li>
                <li data-target="#homeCarousel" data-slide-to="2"></li>
                <li data-target="#homeCarousel" data-slide-to="3"></li>
                <li data-target="#homeCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" role="listbox" align="center">
                <div class="item active">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/29/X-Site/Goldbox/2016/it_xsite_goldbox_1500x300._CB293654318_.jpg"/>
                </div>
                <div class="item">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/29/_home_and_kitchen/2015/DesignShop/Redesign/BigGraphics/IT_Home_Desingshop-restyle_25-6-2015_4500x900._UX1500_SX1500_CB317222603_.jpg"/>
                </div>
                <div class="item">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/29/_tools/billboard/it_tools_08-03-2016_professional-store_1500x300._CB294026631_.jpg"/>
                </div>
                <div class="item">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/29/prime/2016/shipping_benefit/IT_Prime-shipping-visuals_11-04-2016_1500x300._CB274900098_.jpg"/>
                </div>
                <div class="item">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/29/kindle/merch/2016/campaigns/mday/mday-gw-d-it-1500x300._CB275612559_.jpg"/>
                </div>
            </div>
            <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div id="linkHome">
            <form class="form-inline" role="form">
                <div class="form-group" id="linkRegala">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#" data-toggle="modal" data-target="#myWindow" role="button" class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-gift"></span></a>
                    }
                    else
                    {
                        <a href="~/Announces/Create" role="button"class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-gift"></span></a>
                    }
                    <br/><br/><label>REGALA</label>
                </div>
                <div class="form-group" id="linkVendi">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#" data-toggle="modal" data-target="#myWindow" role="button" class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-eur"></span></a>
                    }
                    else
                    {
                        <a href="#" role="button" class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-eur"></span></a>
                    }
                    <br/><br/><label>VENDI</label>
                </div>
                <div class="form-group" id="linkBaratta">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#" data-toggle="modal" data-target="#myWindow" role="button" class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-random"></span></a>
                    }
                    else
                    {
                        <a href="#" role="button" class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-random"></span></a>
                    }
                    <br/><br/><label>BARATTA</label>
                </div>
            </form>
        </div>


        <hr/>

        <div class="container">


            <div class="row">

                @foreach (var annuncio in GetAnnounce())
            {
                    <div class="col-sm-4 col-md-3">
                        <div class="col-item">
                            <div class="photo">
                                <img src="http://ecx.images-amazon.com/images/I/61QG2uHzY3L._SL1000_.jpg" class="img-responsive" alt="a" />
                            </div>
                            <div class="info">
                                <div class="row">
                                    <div class="price col-md-6">
                                        <h5>
                                            @annuncio.Title
                                        </h5>
                                        @if (@annuncio.Price == 0)
                                        {
                                            <h5 class="price-text-color">IN REGALO</h5>
                                        }
                                        else
                                        {
                                            <h5 class="price-text-color">Prezzo: @annuncio.Price</h5>
                                        }
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    }
                                </div>
                                <div class="separator clear-left">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i>
                                            <a href="#" data-toggle="modal" data-target="#myWindow" class="">Dettagli</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" data-toggle="modal" data-target="#myWindow" class="">Contatta</a>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i>
                                            <a href="~/Announces/Details/?id=@annuncio.Id" class="">Dettagli</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="~/Messages/Details/?id=@annuncio.AuthorId" class="">Contatta</a>
                                        </p>
                                    }
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

        


    </div>
</div>



