@using System.Security.Claims
@using Microsoft.Data.Entity.Query.Internal

@functions
{



    public IEnumerable<Announce> GetAnnounce()
    {
        foreach (var announce in ViewData["listAnnounces"] as List<Announce>)
        {
            yield return announce;
        }
    }

    public IEnumerable<Announce> GetSuggestedAnnounce()
    {
        foreach (var announce in ViewData["listSuggestedAnnounces"] as List<Announce>)
        {
            yield return announce;
        }
    }

    /*public IEnumerable<Category> GetAnnounceCategories(int announceId)
    {
        foreach (var cat in ViewData["listCategory"] as List<Category>)
        {
            if ()
                return imm.Url;
        }
        return null;
    }*/

    public User GetAutore(string AuthorId)
    {
        foreach (var user in ViewData["listUsers"] as List<User>)
        {
            if (user.Id == AuthorId)
                return user;
        }
        return null;
    }

    public string GetImages(int AnnounceId)
    {
        foreach (var imm in ViewData["listImages"] as List<ImageUrl>)
        {
            if (imm.AnnounceId == AnnounceId)
                return imm.Url;
        }
        return null;
    }

    public string idDiv = "";
}

<div id="wrap">


    @if(TempData["announceCreated"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert" style="height: 30%; font-size: 1.6em;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
            <strong>Ottimo! </strong> Il tuo annuncio è stato creato correttamente!
        </div>
    }
    <div class="container-fluid" id="containerPrincipale">
        <div id="homeCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" style="z-index: 1">
                <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#homeCarousel" data-slide-to="1"></li>
             <!--   <li data-target="#homeCarousel" data-slide-to="2"></li>
                <li data-target="#homeCarousel" data-slide-to="3"></li>
                <li data-target="#homeCarousel" data-slide-to="4"></li> -->
            </ol>
            <div class="carousel-inner" role="listbox" align="center">
                <div class="item active">
                    <img src="/images/test.png"/>
                </div>
                <div class="item">
                    <img src="/images/test2.png"/>
                </div>
            </div>
            <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div id="linkHome">
            <div class="form-inline" role="form">
                <div class="form-group" id="linkRegala">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#" data-toggle="modal" data-target="#myWindow" role="button" class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-gift"></span></a>
                    }
                    else
                    {
                        <a href="~/Announces/Create" role="button" class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-gift"></span></a>
                    }
                    <br/>
                    <h2>LIBERATI DI UNA<BR/>CIANFRUSAGLIA
                    </h2>
                </div>
                <div class="form-group" id="linkVendi">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="~/Announces/Create?vendita=true" data-toggle="modal" data-target="#myWindow" role="button" class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-random"></span></a>
                    }
                    else
                    {
                        <a href="~/Announces/Create/?vendita=true" role="button" class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-eur"></span></a>
                    }
                    <br/>
                    <h2 style="color: black;">VENDI QUELLO<br/>CHE NON TI SERVE</h2>
                </div>
                <div class="form-group" id="linkCerca">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#" data-toggle="modal" data-target="#myWindow" role="button" class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-eur"></span></a>
                    }
                    else
                    {
                        <a href="#" role="button" class="btn btn-warning btn-lg btn-round"><span class="glyphicon glyphicon-search"></span></a>
                    }
                    <br/>
                    <h2>CERCA<br/>UN OGGETTO</h2>
                </div>
            </div>
        </div>


        <hr/>

    <div class="container" >
        <h3>Annunci Recenti</h3>
        <hr class="simple-hr"/>
        <!-- Mostra i 3 annunci più recenti -->
        <div class="row" >
            <br /><br />
            @foreach( var annuncio in GetAnnounce() ) {
                <div class="col-sm-5 col-md-4" >

                    <div class="col-item" >

                        <div class="photo" >
                            <img src="@GetImages( @annuncio.Id )" class="img-responsive" />
                        </div>

                        <div class="info" >


                            <h3>
                                @annuncio.Title
                            </h3>
                            @if( @annuncio.Price == 0 ) {
                                <h5 class="price-text-color" >IN REGALO</h5>
                                <span class="btn-warning btn-sm btn-round card-img"><span class="glyphicon glyphicon-gift"></span></span>
                            } else {
                                <span class="btn-warning btn-sm btn-round card-img"><span class="glyphicon glyphicon-euro"></span></span>
                                <h5 class="price-text-color" >Prezzo: @annuncio.Price €</h5>
                            }


                            <div class="price" >
                                <h5>Autore: @GetAutore( @annuncio.AuthorId ).UserName</h5>
                                <br />
                            </div>
                            <div class="separator clear-left" >
                                @if( !User.Identity.IsAuthenticated ) {
                                    <p class="btn-add" >
                                        <i class="fa fa-shopping-cart" ></i>
                                        <a href="#" data-toggle="modal" data-target="#myWindow" >Dettagli</a>
                                    </p>
                                    <p class="btn-details" >
                                        <i class="fa fa-list" ></i><a href="#" data-toggle="modal" data-target="#myWindow" class="" >Contatta</a>
                                    </p>
                                } else {
                                    <p class="btn-add" >
                                        <i class="fa fa-shopping-cart" ></i>
                                        <a href="~/Announces/Details/?id=@annuncio.Id" class="" >Dettagli</a>
                                    </p>
                                    if( annuncio.AuthorId != User.GetUserId() ) {
                                        <p class="btn-details" >
                                            <i class="fa fa-list" ></i><a href="~/Messages/Details/?id=@annuncio.AuthorId" class="" >Contatta</a>
                                        </p>
                                    }
                                }
                            </div>
                            <div class="clearfix" ></div>
                        </div>
                    </div>
                </div>
            }

            <!-- Mostra i 3 annunci suggeriti con il rank più alto -->
            @if (User.Identity.IsAuthenticated)
            {
                <br /><br /><h3>Scelti per te   </h3><hr class="simple-hr" /><br /><br />
            }
            @foreach( var annuncio in GetSuggestedAnnounce() ) {
                <div class="col-sm-5 col-md-4" >

                    <div class="col-item" >

                        <div class="photo" >
                            <img src="@GetImages( @annuncio.Id )" class="img-responsive" />
                        </div>

                        <div class="info" >


                            <h3>
                                @annuncio.Title
                            </h3>
                            @if( @annuncio.Price == 0 ) {
                                <h5 class="price-text-color" >IN REGALO</h5>
                                <span class="btn-warning btn-sm btn-round card-img"><span class="glyphicon glyphicon-gift"></span></span>
                            } else {
                                <span class="btn-warning btn-sm btn-round card-img"><span class="glyphicon glyphicon-euro"></span></span>
                                <h5 class="price-text-color" >Prezzo: @annuncio.Price €</h5>
                            }


                            <div class="price" >
                                <h5>Autore: @GetAutore( @annuncio.AuthorId ).UserName</h5>
                                <br />
                            </div>
                            <div class="separator clear-left" >
                                @if( !User.Identity.IsAuthenticated ) {
                                    <p class="btn-add" >
                                        <i class="fa fa-shopping-cart" ></i>
                                        <a href="#" data-toggle="modal" data-target="#myWindow" >Dettagli</a>
                                    </p>
                                    <p class="btn-details" >
                                        <i class="fa fa-list" ></i><a href="#" data-toggle="modal" data-target="#myWindow" class="" >Contatta</a>
                                    </p>
                                } else {
                                    <p class="btn-add" >
                                        <i class="fa fa-shopping-cart" ></i>
                                        <a href="~/Announces/Details/?id=@annuncio.Id" class="" >Dettagli</a>
                                    </p>
                                    if( annuncio.AuthorId != User.GetUserId() ) {
                                        <p class="btn-details" >
                                            <i class="fa fa-list" ></i><a href="~/Messages/Details/?id=@annuncio.AuthorId" class="" >Contatta</a>
                                        </p>
                                    }
                                }
                            </div>
                            <div class="clearfix" ></div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>

        


    </div>
</div>



