@using System.Collections.Generic
@using System.Threading.Tasks
@using Microsoft.AspNet.JsonPatch.Helpers
@model Cianfrusaglie.ViewModels.Announce.CreateAnnounceViewModel 

@{
    ViewData["Title"] = "Inserzione Annuncio";
}

@functions
{

    private IEnumerable< Category > GetMacroCategories() {
        for( int i = 0; i < ( ViewData[ "numberOfMacroCategories" ] as int? ?? 0 ); i++ ) {
            var categories = ViewData[ "formMacroCategories" ] as List< Category >;
            if( categories != null && categories[ i ].OverCategory == null )
                yield return categories[ i ];
        }
    }


    private IEnumerable< Category > GetCategories( Category macro ) {
        for( int j = 0; j < ( ViewData[ "numberOfMacroCategories" ] as int? ?? 0 ); j++ ) {
            var subCat = ViewData[ "formMacroCategories" ] as List< Category >;
            if( subCat != null && subCat[ j ].OverCategory != null && subCat[ j ].OverCategory.Id == macro.Id )
                yield return subCat[ j ];
        }
    }

    private IEnumerable< FormField > GetFormFields() {
        foreach( var field in (List< FormField >) ViewData[ "formFields" ] ) {
            yield return field;
        }
    }

    private string StringifyCategoriesFromFormField( int formFieldId ) {
        string result = "";
        var dictionary = ViewData[ "formField2CategoriesDictionary" ] as Dictionary< int, List< Category > >;
        if( dictionary == null )
            return result;

        foreach( var category in dictionary[ formFieldId ] ) {
            result += category.Id + " ";
        }
        return result;
    }

}

<script src="http://maps.googleapis.com/maps/api/js?libraries=places" ></script>
<script src="/js/googleMaps.js"></script>

<div id="wrap" >
    <form asp-action="Create" asp-controller="Announces" enctype="multipart/form-data" id="tabellaForm" name="tabellaForm" method="post" role="form" >
        <nav class="navbar navbar-default" data-offset-top="60" data-spy="affix" id="announce-navbar" style="z-index: 15">
            <div class="panel panel-default" style="margin-left: -15px">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default navbar-btn navbar-left" id="back-button" onclick="clickBackButton()" style="display: none" type="button">Indietro</button>
                    <button class="btn btn-default navbar-btn navbar-right" id="forward-button" onclick="clickForwardButton()" type="button">Avanti</button>
                </div>
            </div>
        </nav>
        
        <div class="panel">
                <div class="panel-body">
                 
                    <div class="row" id="page1">
                        <div class="col-md-6">

                            <div class="panel-group" id="panel-423221">
                                <div class="panel panel-default" id="sceltaCategorie">
                                    <h5 id="scelta"><strong>Scegli una o pi&ugrave categorie appartenenti al tuo oggetto:</strong></h5>
                                </div>
                                @foreach (var macroCategory in GetMacroCategories())
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#panel-423221" style="cursor: pointer" href="#category-@macroCategory.Id">
                                            @macroCategory.Name
                                        </div>
                                        <div id="category-@macroCategory.Id" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="form-group">

                                                    <div class="col-md-12">
                                                        @foreach (var category in GetCategories(macroCategory))
                                                        {
                                                            <div class="checkbox">
                                                                <label asp-for="CategoryDictionary[category.Id]" for="@category.Id">
                                                                    <input asp-for="CategoryDictionary[category.Id]" class="category-checkboxes" type="checkbox" name="category" id="@category.Id" onchange="setFieldsVisibility();"/>
                                                                    @category.Name
                                                                </label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Informazioni aggiuntive</h3>
                                    </div>
                                    <div class="panel-body">
                                        @{var fieldDefault = (Dictionary<int, List<SelectListItem>>)ViewData["formFieldDefaultValue"];
                                            foreach (var field in GetFormFields())
                                            {
                                                switch (field.Type)
                                                {
                                                    case FormFieldType.checkbox:
                                                        <div class="checkbox form-group category-form-fields @StringifyCategoriesFromFormField(field.Id)" style="display: none">
                                                            <label asp-for="CheckboxFormFieldDictionary[field.Id]" class="control-label">
                                                                
                                                            <input asp-for="CheckboxFormFieldDictionary[field.Id]" class="category-checkboxes" type="checkbox" name="formField">
                                                            @field.Name
                                                            </label>
                                                        </div>
                                                        break;
                                                    case FormFieldType.number:
                                                        <div class="form-group category-form-fields @StringifyCategoriesFromFormField(field.Id)" style="display: none">
                                                            <label asp-for="NumberFormFieldDictionary[field.Id]" class="control-label">@field.Name</label>
                                                            <input type="number" asp-for="NumberFormFieldDictionary[field.Id]" class="form-control" />
                                                        </div>
                                                        break;

                                                    case FormFieldType.select:
                                                        <div class="form-group category-form-fields @StringifyCategoriesFromFormField(field.Id)" style="display: none">
                                                            <label asp-for="SelectFormFieldDictionary[field.Id]" class="control-label">@field.Name</label>

                                                            <select asp-for="SelectFormFieldDictionary[field.Id]" class="form-control" asp-items="fieldDefault[field.Id]">
                                                                <option selected="selected" value=""></option>
                                                            </select>
                                                        </div>
                                                        break;

                                                    case FormFieldType.text:
                                                        <div class="form-group category-form-fields @StringifyCategoriesFromFormField(field.Id)" style="display: none">
                                                            <label asp-for="FormFieldDictionary[field.Id]" class="control-label">@field.Name</label>
                                                            <input type="text" asp-for="FormFieldDictionary[field.Id]" class="form-control" />
                                                        </div>
                                                        break;

                                                }

                                                /*
                                                <div class="form-group category-form-fields @StringifyCategoriesFromFormField(field.Id)" style="display: none">
                                                    <label asp-for="FormFieldDictionary[field.Id]" class="control-label">@field.Name</label>
                                                    <input type="" asp-for="FormFieldDictionary[field.Id]" class="form-control"/>
                                                </div>**/
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="page2" style="display: none">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <fieldset>

                                        @*<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>*@

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label asp-for="Title" class="col-md-4 control-label" for="title-mandatory">Titolo</label>
                                            <div class="col-md-7">
                                                <input asp-for="Title" class="form-control" id="title-mandatory" placeholder="inserisci il titolo dell'annuncio" style="padding-left: 12px" type="text">
                                                <span asp-validation-for="Title" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <!-- Textarea -->
                                        <div class="form-group">
                                            <label asp-for="Description" class="col-md-4 control-label" for="description">Descrizione</label>
                                            <div class="col-md-7">
                                                <textarea asp-for="Description" class="form-control" id="description" name="description"></textarea>

                                            </div>
                                        </div>

                                        <!-- Prezzo -->
                                        @if (ViewData["isVendita"] as bool? ?? false)
                                                    {
                                            <div class="form-group">
                                                <label asp-for="Price" class="col-md-4 control-label" for="price">Prezzo</label>
                                                <div class="col-md-7" >
                                                    <div class="input-group">

                                                        <input type="number" asp-for="Price" class="form-control" id="price" name="Price" />
                                                        <span class="input-group-addon">&euro;</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <div class="form-group">
                                            <label asp-for="Range" class="col-md-4 control-label" for="range-input">Sei disposto a spostarti?</label>
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input id="range-checkbox" onchange="clickRangeButton()" type="checkbox">
                                                    </span>
                                                    <input asp-for="Range" class="form-control" id="range-input" placeholder="di quanti km?" style="padding-left: 12px" type="number" >
                                                    <span class="input-group-addon">Km</span>
                                                </div>
                                            </div>
                                        </div>

                                        <input asp-for="Latitude" id="latitudeInput" class="form-control" type="text" style="display: none;"/>
                                        <input asp-for="Longitude" id="longitudeInput" class="form-control" type="text" style="display: none;"/>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="photos">Immagini</label>
                                            <div class="col-md-6">
                                                <input asp-for="Photos" class="input-file" id="photos" multiple name="photos" style="margin-top: 6px" type="file" accept="image/*">
                                                <span asp-validation-for="Photos" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <!-- questo searchbox serve per cercare l'indirizzo su googleMap -->
                                        <input id="pac-input" class="controls" type="text" placeholder="Metti indirizzo">
                                        <div id="googleMap" style="width: 500px; height: 380px;"></div>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</form>
</div>

<div class="modal fade" id="myWindow" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Scegli almeno una categoria!</h4>
            </div>
            <div class="modal-body">
                <p>Devi scegliere almeno una categoria!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    // TODO spostare tutto in un file js
    document.getElementById("announce-navbar")
        .setAttribute("data-offset-top", document.getElementById("pageHeader").offsetHeight);
    document.getElementById("range-checkbox").checked = true;
    document.getElementById("range-input").value = 1;
    setFieldsVisibility();

                                                function setFieldsVisibility() {
                                                    var checkboxesArray = document.getElementsByClassName("category-checkboxes");
                                                    var allFormFieldsArray = document.getElementsByClassName("category-form-fields");
                                                    for( var i = 0; i < allFormFieldsArray.length; i++ )
                                                        allFormFieldsArray[ i ].style.display = "none";
                                                    for( var i = 0; i < checkboxesArray.length; i++ ) {
                                                        var checkbox = checkboxesArray[ i ];
                                                        if( checkbox.checked ) {
                                                        var categoryFormFieldsArray = document.getElementsByClassName(checkbox.id);
                                                        for( var j = 0; j < categoryFormFieldsArray.length; j++ )
                                                            categoryFormFieldsArray[ j ].style.display = "block";
                                                    }
                                                }
                                            }


                                            // 500 sono i millisecondi di durata della transizione
                                            var transitionTime = 350;

                                            function clickForwardButton() {
                                                if( !atLeastOneCategorySelected() ) {
            $('#myWindow').modal('show');
                                                    return;
                                                }

                                                if (document.getElementById("forward-button").innerHTML === "Pubblica") {
            //aggiungiamo al form la posizione di google maps
            $("#latitudeInput").attr("value", marker.position.lat());
            $("#longitudeInput").attr("value", marker.position.lng());

                                                    document.getElementById("forward-button").setAttribute("type", "submit");
                                                } else
                                                    document.getElementById("forward-button").innerHTML = "Pubblica";
        $('#page1').hide(transitionTime);
        $('#page2').show(transitionTime);
        $('#back-button').show(0);
                                            }

                                            function clickBackButton() {
        $('#page1').show(transitionTime);
        $('#page2').hide(transitionTime);
        $('#back-button').hide(0);
                                                document.getElementById("forward-button").innerHTML = "Avanti";
                                                document.getElementById("forward-button").setAttribute("type", "button");
                                            }

                                            function clickRangeButton() {
                                                var checkbox = document.getElementById("range-checkbox");
                                                var rangeInput = document.getElementById("range-input");
                                                if( checkbox.checked ) {
                                                        rangeInput.removeAttribute("disabled");
                                                        rangeInput.value = 1;
                                                    } else {
                                                        rangeInput.setAttribute("disabled", "");
                                                        rangeInput.value = 0;
                                                    }
                                                    }

                                                function atLeastOneCategorySelected() {
                                                    var categoriesCheckBoxes = document.getElementsByClassName("category-checkboxes");
                                                    for(var i = 0; i< categoriesCheckBoxes.length; i++)
                                                        if( categoriesCheckBoxes[ i ].checked )
                return true;
                                                    return false;
                                                }

                                                //google maps
                                                google.maps.event.addDomListener(window, 'load', initialize);
</script>