@using System.Collections
@using System.Threading.Tasks
@using Microsoft.Data.Entity.Query.Expressions
@using Remotion.Linq.Clauses
@model Cianfrusaglie.Models.Announce

@{
    ViewData["Title"] = "Details";
}


<div id="wrapper-announce">


    <div class="row">
        <div class="col-sm-10 col-md-5">
            <!--IMMAGINI + carosello-->
            <div class="col-item" style="">
                <div class="photo carousel slide" id="carosello">
                    
                    <!--Pallini nelle immagini -->
                    <ol class="carousel-indicators" style="z-index: 1">
                        @{
                            var count = 0;
                            foreach (var i in (IEnumerable<ImageUrl>) ViewData["Images"])
                            {
                                if (count == 0)
                                {
                                    <li data-target="#carosello" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#carosello"></li>
                                }
                                count = count + 1;
                            }
                        }
                    </ol>
                    <!--ELEMENTI DEL CAROSELLO-->
                    <div class="carousel-inner">
                        @{
                            var count2 = 0;
                            foreach (var immagine in (IEnumerable<ImageUrl>) ViewData["Images"])
                            {
                                if (count2 == 0)
                                {
                                    <div class="item active">
                                        <img src="@immagine.Url" class="img-responsive" alt="a"/>
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img src="@immagine.Url" class="img-responsive" alt="a"/>
                                    </div>
                                }
                                count2 = count2 + 1;
                            }
                        }
                    </div>
                    <!-- FRECCE PER IL CONTROLLO-->
                    <a class="left carousel-control" href="#carosello" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carosello" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    
                </div>
               
            </div>
        </div>
        <div class="col-sm-10 col-md-5">
            <h2 id="titolo">@Html.DisplayName(Model.Title)</h2>
            <div class="icon-detail">
                <form action="#" method="POST">
                    <a href="" data-toggle="modal" data-target="#confirm"><span class="glyphicon glyphicon-plus-sign icon-det"></span><span class="text-det">Interessato</span></a>
                </form>
            </div>
           

            <div class="col-item">
                <dl class="dl-horizontal container-announce">

                    @foreach (var f in (Dictionary<FormField, string>) ViewData["formFieldsValue"])
                    {

                        <dt>
                            @f.Key.Name
                        </dt>
                        <dd>
                            @f.Value
                        </dd>
                    }
                </dl>
            </div>

            <div class="col-item container-announce">
                <dl class="dl-horizontal">

                    <dt>
                        Autore
                    </dt>
                    <dd>
                        @{
                          

                            <div>
                               @ViewData["Autore"]
                                <a href="~/Messages/Details/?id=@ViewData["AuthorId"]" style="margin-left:5em">Contatta</a>
                            </div>
                           }
                    </dd>

                    @if (Model.MeterRange > 0)
                    {
                        
                        <dt style="white-space: normal">
                            @Html.DisplayName("Disponibile a muoversi")
                        </dt>
                        <dd>
                           Si
                        </dd>
                        <dt>
                            @Html.DisplayName("Range di disponibilita'")
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MeterRange)
                        </dd>
                    }
                    else
                    {
                        <dt>
                            Disponibile a muoversi
                        </dt>
                        <dd>
                            No
                        </dd>
                    }
                    <dt>
                        Data di Pubblicazione
                    </dt>
                    @if( !string.IsNullOrEmpty( Model.Description ) ) {
                        <dd>
                            @Html.DisplayFor( model => model.PublishDate )
                        </dd>
                        <dt>
                            Descrizione
                        </dt>
                        <dd>
                            @Html.DisplayFor( model => model.Description )
                        </dd>
                    }
                </dl>
            </div>

        </div>

    </div>


    @*    <p>*@
    @*        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    @*        <a asp-action="Index">Back to List</a>*@
    @*    </p>*@
</div>




 
