@using Remotion.Linq.Clauses
@model Cianfrusaglie.Models.Announce

@{
    ViewData["Title"] = "Details";
}


<div>
    <h2>@Html.DisplayName(Model.Title)</h2>
    <hr/>
    <dl class="dl-horizontal" >

        @foreach (var f in (Dictionary<string,string>) ViewData["formFieldsValue"])
        {
                <dt>
                    @f.Value
                </dt>
                <dd>
                    @f.Key
                </dd>
        }
        @if (Model.Closed)
        {
            <dt style="white-space: normal">
                @Html.DisplayName("Disponibile a muoversi")
            </dt>
            <dt>
                @Html.DisplayName("Range di disponibilita'")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MeterRange);
            </dd>
        }
        else
        {
            <dt>
                Non disponibile a muoversi
            </dt>
            <dd></dd>
        }
        <dt>
            Data di Pubblicazione
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
