@using System.Collections
@using System.Collections
@using System.Collections.Generic
@using System.Security.Claims
@using System.Threading.Tasks
@using Microsoft.Data.Entity.Query.Expressions
@using Remotion.Linq.Clauses
@model Cianfrusaglie.Models.Announce

@{
    ViewData["Title"] = "Details";
}
@Html.AntiForgeryToken()


@functions
{
    private User GetAuthor() { return ViewData["Author"] as User; }
}
@*
    


Nascondere tasto non lo voglio più quando sono stato scelto


*@
<script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="/js/googleMaps.js" ></script>
<script>
    document.title = "CianfrusAPP.net - @Model.Title";

    $(document).ready( function() {
        var latitude = parseFloatIgnoreCommas("@Model.Latitude");
        var longitude = parseFloatIgnoreCommas("@Model.Longitude");
        var position = new google.maps.LatLng(latitude, longitude);
        initializeGMaps(position, true, @Model.MeterRange);
    } );
</script>

<div id="wrapper-announce" class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <!--IMMAGINI + carosello-->
            <div class="col-item" >
                <div class="photo carousel slide" id="carosello">
                    
                    <!--Pallini nelle immagini -->
                    <ol class="carousel-indicators" style="z-index: 1">
                        @{
                            var count = 0;
                            foreach (var i in (IEnumerable<ImageUrl>) ViewData["Images"])
                            {
                                if (count == 0)
                                {
                                    <li data-target="#carosello" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#carosello"></li>
                                }
                                count = count + 1;
                            }
                        }
                    </ol>
                    <!--ELEMENTI DEL CAROSELLO-->
                    <div class="carousel-inner">
                        @{
                            var count2 = 0;
                            foreach (var immagine in (IEnumerable<ImageUrl>) ViewData["Images"])
                            {
                                if (count2 == 0)
                                {
                                    <div class="item active">
                                        <img src="@immagine.Url" class="img-responsive" alt="a" />
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img src="@immagine.Url" class="img-responsive" alt="a" />
</div>
                                }
                                count2 = count2 + 1;
                            }
                        }
                    </div>
                    <!-- FRECCE PER IL CONTROLLO-->
                    <a class="left carousel-control" href="#carosello" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carosello" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    
                </div>
               
            </div>
            <div class="col-item container-announce">
@if (!GetAuthor().Id.Equals(User.GetUserId()))
{
                
                <dl class="dl-horizontal">
                    <dt>
                        <div class="icon-detail">
                            Feedback utente
                        </div>
                    </dt>
                    <dd>     
                        <div class="star-container">
                            <div class="star-shape">
                                <svg viewbox="0 0 61 19">
                                    <defs>
                                        <mask id="starmask" x="0" y="0" width="100" height="100">
                                            <rect x="0" y="0" width="100%" height="100%" fill="#fff" />
                                            <text text-anchor="middle" x="50%" y="70%" dy="1"> &#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</text>
                                        </mask>
                                    </defs>
                                    <rect x="0" y="0" width="100%" height="100%" mask="url(#starmask)" fill="#fff" fill-opacity="1" />
                                    <text text-anchor="middle" x="50%" y="70%" dy="1" color="black"> &#x2606;&#x2606;&#x2606;&#x2606;&#x2606;</text>
                                </svg>
                            </div>
                            @{ string starWidth = ((int)(20 * GetAuthor().FeedbacksMean)).ToString(); }            
                            <div class="star-colorbar" style="width: @starWidth%">
                            </div>
                        </div>
                    </dd>
                </dl>
                
                        <br />
}
                        <dl class="dl-horizontal">

                            <dt>
                                Autore
                            </dt>

                            @if (!GetAuthor().Id.Equals(User.GetUserId()))
                            {
                                <dd>

                                    <div>
                                        <div class="col-sm-1" style="padding-left: 0; margin-right: 0.4em; margin-top: 0em; max-height: 2em;">
                                            <div class="photo conversation-avatar panel panel-default">
                                                <img class="img-responsive" src=@GetAuthor().ProfileImageUrl />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <a href="~/Profile/Index?userId=@GetAuthor().Id">@GetAuthor().UserName</a>
                                    </div>
                                </dd>
                            }
                            else
                            {
                                <dd>Hai creato tu questo annuncio</dd>
                            }
                            @if (Model.MeterRange > 0)
                            {

                                <dt style="white-space: normal">
                                    @Html.DisplayName("Disponibile a muoversi")
                                </dt>
                                <dd>
                                    Si
                                </dd>
                                <dt>
                                    @Html.DisplayName("Range di disponibilita' in km")
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.MeterRange)
                                </dd>
                            }
                            else
                            {
                                <dt>
                                    Disponibile a muoversi
                                </dt>
                                <dd>
                                    No
                                </dd>
                            }
                            <dt>
                                Data di Pubblicazione
                            </dt>
                           
                            <dd>
                                @Html.DisplayFor(model => model.PublishDate)
                            </dd>
                            
                            @if (Model.DeadLine != null)
                            {
                                <dt>
                                    Questo annuncio scade il
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DeadLine)
                                </dd>
                            }
                        </dl>
                        @if( !Model.AuthorId.Equals( User.GetUserId() ) ) {
                            <dl class="dl-horizontal" >

                                <dt>
                                    <div class="icon-detail" >
                                        Hai domande per @GetAuthor().UserName?
                                    </div>
                                </dt>
                                <dd>
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <a class="btn btn-info btn-det" data-target="#myWindow" data-toggle="modal" href="#" >Contatta</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-info btn-det" href="~/Messages/Details/?id=@ViewData["AuthorId"]">Contatta</a>

                                    }
                                </dd>
                            </dl>
                        }
            </div>
        </div>
        <div class="col-md-4">
            
            <div class="row title-detail">
                
                <div class="title-detail-items">
                    
                    <div id="titolo" style="width:60%">
                        <span style="word-break:break-all;text-wrap:normal;"><h2>@Html.DisplayName(Model.Title)</h2></span>
                        <br />
                        @if (Model.Closed)
                        {
                            <h5 style="color:red;"> Annuncio chiuso - </h5>
                        }
                        else if (ViewData["choosen"].Equals(true))
                        {
                            <h5 style="color:#5cb85c;"> Sei stato scelto - </h5>
                        }else if (ViewData["someoneIsChoosen"] != null)
                        {
                            <h5> In trattativa con un utente - </h5>
                        }else{
                            //Aperta
                        }
                        @{ var NumberOfInterested = ViewData["numInterested"];
                            if (NumberOfInterested.ToString().Count() == 1)
                            {
                                <h5><span class="utentInteressati">@NumberOfInterested</span> utente interessato </h5>
                            }
                            else
                            {
                                <h5><span class="utentInteressati">@NumberOfInterested</span> utenti interessati </h5>
                            }
                        }
                    </div>
                    <div class="right-butt">
                        @if (Model.AuthorId.Equals(User.GetUserId()))
                        {
                            <a href="~/InterestedAnnounce?id=@Model.Id">
                                <button class="btn btn-success lovoglio">
                                    <span class="text-det">Visualizza interessati</span>
                                </button>
                            </a>
                        }
                        else if (Model.Closed || ViewData["feedbackGiven"] != null)
                        {
                            //Non puoi fare niente
                        }
                        else if (ViewData["choosen"].Equals(true))
                        {
                            <a href="~/Feedback/Create?announceId=@Model.Id&receiverId=@Model.AuthorId" >
                                <button class="btn btn-success lovoglio" style="margin-bottom: 0.5em;">
                                    <span class="text-det">Lascia un feedback</span>
                                </button>
                            </a>

                        }
                        else if (ViewData["interested"].Equals(false))
                        {
                            if (!User.Identity.IsAuthenticated)
                            {
                                       <button name="loVoglioNoAutenticato" style="margin-bottom: 0.5em;" data-target="#myWindow" data-toggle="modal" class="btn btn-success lovoglio">
                                            <span class="text-det">Lo voglio</span>
                                        </button>
                            }
                            else
                            {
                                <form action="#" method="POST" style="vertical-align: text-bottom">
                                    <button name="loVoglio" class="btn btn-success lovoglio" style="margin-bottom: 0.5em;">
                                        <span class="text-det">Lo voglio</span>
                                    </button>

                                    <div class="nonLoVoglio">
                                        @*<span name="spanGliphNonLoVoglioPiu" class="glyphicon glyphicon-ok" style="color: green; display: none"></span>
                                            <span name="seiInteressato" style="color: black; display: none">Sei gi&aacute; interessato all' annuncio</span>*@

                                        <button name="nonLoVoglio" class="btn btn-danger" style="display: none;float:right;">
                                            <span class="text-det">Non lo voglio pi&ugrave;</span>
                                        </button>
                                    </div>
                                </form>

                            }






                        }
                        else if (@ViewData["interested"].Equals(true))
                        {
                            <form action="#" method="POST">
                                @*<span name="spanGliphNonLoVoglioPiu" class="glyphicon glyphicon-ok" style="color: green; font-size: 2.5em"></span>*@
                                
                                <div class="nonLoVoglio">
                                    @*<span name="spanGliphNonLoVoglioPiu" class="glyphicon glyphicon-ok" style="color: green; font-size: 0.8em"></span>
                        <span style="color: black;" name="seiInteressato">Sei gi&aacute; interessato all' annuncio</span><br />*@
                                    <button name="nonLoVoglio" class="btn btn-danger" style="font-size: 0.8em;float:right;">
                                        <span class="text-det">Non lo voglio pi&ugrave;</span>
                                    </button>
                                </div>
                                <button name="loVoglio" class="btn btn-success lovoglio" style="display: none" style="margin-bottom: 0.8em;"><span class="text-det">Lo voglio</span></button>

                            </form>
                            @*<div class="icon-detail">
                <a class="btn btn-info" href="~/Messages/Details/?id=@ViewData[ "AuthorId" ]">Contatta</a>
                </div>*@
                        }

                        @{
                            var imgUrl = ( (IEnumerable< ImageUrl >) ViewData[ "Images" ] ).First().Url;
                            imgUrl = "http://cianfrusapp.net" + imgUrl;
                        }

                        <button onclick="fbShare();" class="btn btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span> Condividi</button>


                    </div>
                </div>
            </div>


            <div class="col-item" style="padding:1em;">
                @{
                    int j = 0;
                    foreach (var category in (IEnumerable<AnnounceCategory>)ViewData["nameAnnounceCategories"])
                    {

                        if (j == 0)
                        {
                            <li style=""> <a href="~/Search?categories=@category.CategoryId">@category.Category.Name</a></li>
                        }
                        else
                        {
                            <li>- <a href="~/Search?categories=@category.CategoryId">@category.Category.Name</a></li>
                        }
                        j++;
                    }
                }
                <dl class="dl-horizontal container-announce">

                    @foreach (var f in (Dictionary<FormField, string>)ViewData["formFieldsValue"])
                    {

                        <dt>
                            @f.Key.Name
                        </dt>
                            <dd>
                                @f.Value
                            </dd>
                    }

                    @if (Model.Description != null)
                    {
                        <dt>
                            Dettagli annuncio
                        </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                    }
                    @if (Model.Price > 0)
                    {
                        <dt>
                            Prezzo
                        </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Price) &euro;
                            </dd>
                    }
                </dl>
            </div>

           
            <div class="col-item" style="padding:1em;">
                <div id="googleMap" style=""></div>
                </div>
            </div>
            <br />
            <br />


    
    
    @*    <p>*@
    @*        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    @*        <a asp-action="Index">Back to List</a>*@
    @*    </p>*@
</div>

<script>
    function fbShare() {
        openFbPopUp( window.location, "@imgUrl", "@Model.Title", "@Model.Description" );
    }
</script>
<script type="text/javascript">

    var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
    $('button[name="loVoglio"]').on('click', function (e) {
        var $form = $(this).closest('form');
        e.preventDefault();
        var tmp = @ViewData["IdAnnounce"];

        $('#confirm')
            .modal({ backdrop : 'static', keyboard : false })
            .one('click',
                '#confirmbtn',
                function(err) {
                    var numu=parseInt($('.utentInteressati').text(),10)+1;
                    $('.utentInteressati').text(numu);
                    $('button[name="loVoglio"]').hide();
                    $('button[name="nonLoVoglio"]').show();
                    $('span[name="spanGliphNonLoVoglioPiu"]').show();
                    $('span[name="seiInteressato"]').show();
                    $.post("/Announces/Interested",
                        {
                            AnnounceId : tmp,
                            __RequestVerificationToken : antiForgeryToken

                        })
                        .fail(function() { alert("error"); });
                });
    });

    var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
    $('button[name="nonLoVoglio"]')
        .on('click',
            function(e) {
                var $form = $(this).closest('form');
                e.preventDefault();
                var isChoosen = '@ViewData["choosen"]' === '@true';
                var tmp = @ViewData["IdAnnounce"];

                if( !isChoosen ) {
                    $('#notConfirm')
                        .modal({ backdrop : 'static', keyboard : false })
                        .one('click',
                            '#confirmbtn',
                            function(err) {
                                var numu=parseInt($('.utentInteressati').text(),10)-1;
                                $('.utentInteressati').text(numu);
                                $('button[name="nonLoVoglio"]').hide();
                                $('button[name="loVoglio"]').show();
                                $('span[name="spanGliphNonLoVoglioPiu"]').hide();
                                $('span[name="seiInteressato"]').hide();

                                $.post("/Announces/Interested",
                                    {
                                        AnnounceId : tmp,
                                        __RequestVerificationToken : antiForgeryToken
                                    })
                                    .fail(function() { alert("error"); });
                            });
                } else {
                    $('#choosen').modal({ backdrop : 'static', keyboard : false });
                }
            });




</script>



 
