@using System.Collections.Generic
@using System.Security.Claims
@using System.Threading.Tasks
@using Microsoft.AspNet.Mvc
@model Cianfrusaglie.ViewModels.MessageCreateViewModel

@{
    ViewData["Title"] = "Conversazione";
}

@functions
{

    private User GetOtherUser()
    {
        return ViewData["otherUser"] as User;
    }

    private IEnumerable< Message > GetMessages()
    {
        return (IEnumerable< Message >) ViewData[ "messages" ];
    }

}

<div class="panel-body" >
    <span style="text-align: left">
        <a asp-action="Index">Tutte le mie conversazioni</a>
    </span>
    <div class="panel panel-default" >
        <div class="panel-heading" >
            <div style="text-align: center">
                <h2>Conversazione con @GetOtherUser().UserName</h2>
            </div>
        </div>
        <div class="panel-body" >
            @{
                var otherUser = GetOtherUser();
                foreach( var message in GetMessages() ) {
                    <div class="row" >
                        <div class="col-md-1" ></div>
                        <div class="col-md-10" >
                            <div class="panel panel-default" >
                                <div class="panel-heading" >
                                    <p>
                                        <span style="float: right">@message.DateTime</span>
                                        <span style="float: left">
                                            @if( message.Receiver.Id.Equals( User.GetUserId() ) ) {
                                                @otherUser.UserName
                                            } else {
                                                @User.GetUserName()
                                            }
                                        </span>
                                    </p>
                                </div>
                                <div class="panel-body" style="text-align: justify" >
                                    @message.Text
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="panel-body" >
            <div class="row" >
                <div class="col-md-1" ></div>
                <div class="col-md-10" >

                    <form asp-action="Create" asp-controller="Messages" class="form-horizontal form-register" method="post" role="form" id="tabellaForm" >

                        <div asp-validation-summary="ValidationSummary.All" class="text-danger" ></div>
                        <div class="row" >
                            <div class="form-group" >

                                <label asp-for="Text" class="control-label" > <span style="padding-right: 30px"></span>Messaggio</label><br />
                                <div class="col-md-10" >
                                    <textarea rows="4" asp-for="Text" class="form-control" ></textarea>
                                    <span asp-validation-for="Text" class="text-danger"></span>

                                    <input asp-for="ReceiverId" type="hidden" value="@ViewData[ "receiverId" ]" class="form-control" />
                                </div>
                                <div class="col-md-2" style="margin-top: 25px" >
                                    <button class="btn btn-default" type="submit" >
                                        Invia
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
        <div class="panel-footer" style="text-align: center" >
            <a asp-action="Index" >Tutte le mie conversazioni</a>
        </div>
    </div>
</div>
