@using System.Threading.Tasks
@using Cianfrusaglie.Constants
@{
    Layout = "";
}

@functions
{

    public IEnumerable<Category> GetCategories()
    {
        var t = ViewData["numberOfCategories"];
        for (int i = 0; i < (ViewData["numberOfCategories"] as int? ?? 0); i++)
        {
            var categories = ViewData["formCategories"] as List<Category>;
            if (categories != null && categories[i].OverCategory == null)
                yield return categories[i];
        }
    }

    public IEnumerable<Category> GetSubCategories(String macro)
    {
        for (int j = 0; j < (ViewData["numberOfCategories"] as int? ?? 0); j++)
        {
            var subCat = ViewData["formCategories"] as List<Category>;
            if (subCat != null && subCat[j].OverCategory != null && subCat[j].OverCategory.Name == macro)
                yield return subCat[j];
        }
    }


}

<html>
<head>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/Home.css" rel ="stylesheet" type="text/css"/>
    <link href="~/Content/Search.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">


</head>
<body>

<div id="wrapper-register">
    <div class="col-md-6 col-lg-offset-3 " style="align-content: center; margin-top: 5em;">
        <form class="panel panel-body" asp-action="SearchRedirect" asp-controller="Search" method="get">
            <div id="title">
                <a href="~/">
                    <h1>
                        @CommonStrings.SiteName
                    </h1>
                    <h5>Il posto giusto per le tue cianfrusaglie</h5>

                </a>
                <br/>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-btn">
                    
                        <button type="button" class="btn btn-warning btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">Categorie <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-large">
                            @foreach (var macro in GetCategories())
                            {
                                <li>
                                    <a href="~/Search?categories=@macro.Id">@macro.Name</a>
                                    @if (GetSubCategories(@macro.Name).ToList().Count > 0)
                                    {
                                        if (@macro.Name.Equals("MisteryBox"))
                                        {
                                            <ul class="dropdown-menu sub-menu">
                                                <li class="dropdown-header" style="margin-top: 10px">@macro.Name</li>
                                                <li class="divider"></li>
                                                <li><a href="~/Search?categories=@macro.Id">Visualizza tutti</a></li>
                                                <li class="divider"></li>
                                                @foreach (var sub in GetSubCategories(@macro.Name))
                                                {
                                                    <li><a href="~/Search?categories=@sub.Id">@sub.Name</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="" style="text-align: justify; font-size: 0.8em; font-style: italic;"><br />Il contenuto di un intero cassetto, collezioni di oggetti complete e non, le anticaglie di un baule emerso dalla cantina della nonna... Dentro una <strong>MisteryBox</strong> puoi trovare cianfrusaglie di qualsiasi tipo!</a></li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul class="dropdown-menu sub-menu">
                                                <li class="dropdown-header" style="margin-top: 10px">@macro.Name</li>
                                                <li class="divider"></li>
                                                <li><a href="~/Search?categories=@macro.Id">Visualizza tutti</a></li>
                                                <li class="divider"></li>
                                                @foreach (var sub in GetSubCategories(@macro.Name))
                                                {
                                                    <li><a href="~/Search?categories=@sub.Id">@sub.Name</a></li>
                                                }
                                            </ul>
                                        }
                                    }
                                </li>
                            }
                        </ul>
                      
                </span>
                
                <input type="text" name="title" class="form-control input-lg" placeholder="Cerca">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-warning btn-searchadv btn-primary btn-lg"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
           
        </form>
    </div>


    </div>


</body>
</html>