@using System.Security.Claims
@using System.Threading.Tasks
@using Microsoft.AspNet.Razor.CodeGenerators.Visitors
@using System.Collections.Generic
@using System.Collections.Immutable
@using Cianfrusaglie.Models
@model  IEnumerable< Announce > 

@{
    ViewData[ "Title" ] = "Index";
}

@functions {

    public User GetAutore(string AuthorId)
    {
        foreach (var user in ViewData["listUsers"] as List<User>)
        {
            if (user.Id == AuthorId)
                return user;
        }
        return null;
    }

    public string GetImages(int AnnounceId)
    {
        foreach (var imm in ViewData["listImages"] as List<ImageUrl>)
        {
            if (imm.AnnounceId == AnnounceId)
                return imm.Url;
        }
        return null;
    }

    public IEnumerable<Announce> GetAnnounce()
    {
        foreach (var announce in ViewData["listAnnounce"] as List<Announce>)
        {
            yield return announce;
        }


<<<<<<< HEAD
    }
=======
<div class="container">

    <!--Carousel Donation Announce
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
       <!-- <ol class="carousel-indicators" style="z-index: 1">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <!--   <li data-target="#homeCarousel" data-slide-to="2"></li>
               <li data-target="#homeCarousel" data-slide-to="3"></li>
               <li data-target="#homeCarousel" data-slide-to="4"></li>
        </ol> 
        <div class="carousel-inner" role="listbox" align="center">
   
           <!--     <div class="col-sm-4 col-md-3">
                    <div class="col-item">
                        
                    </div>
                    <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                </div>
       -->
    <!--Carousel Sale Announce-->
>>>>>>> 19711827b9f381f88518d2c15b65778e764bfa04

    public string idDiv = "";

}


<<<<<<< HEAD
=======
        
        <div class="row" >
>>>>>>> 19711827b9f381f88518d2c15b65778e764bfa04

<div class="container">
    <div class="row">
        <div class="row">
            @foreach (var announce in GetAnnounce())
            {

                <div class="item active">
                    <div class="col-sm-4 col-md-3">
                        @if (announce.Price == 0)
                        {
                            idDiv = "donation";
                        }
                        @if (announce.Price > 0)
                        {
                            idDiv = "sale";
                        }
                        <div class="col-item" id="@idDiv" >
                            <div class="photo">
                                <img src="@GetImages(announce.Id)" class="img-responsive" />
                            </div>

                            <div class="info">


                                <h5>
                                    @announce.Title
                                </h5>
                                @if (announce.Price == 0)
                                {
                                    <h5 class="price-text-color">IN REGALO</h5>
                                }
                                else
                                {
                                    <h5 class="price-text-color">Prezzo: @announce.Price €</h5>
                                }

                                <!--DI quale categoria fa parte-->
                                <div class="price">
                                    <br />
                                    <h5>Autore: @GetAutore(announce.AuthorId).UserName</h5>
                                    <br />
                                </div>
                                <div class="separator clear-left">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i>
                                            <a href="#" data-toggle="modal" data-target="#myWindow">Dettagli</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" data-toggle="modal" data-target="#myWindow" class="">Contatta</a>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i>
                                            <a href="~/Announces/Details/?id=@announce.Id" class="">Dettagli</a>
                                        </p>
                                        if (announce.AuthorId != User.GetUserId())
                                        {
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="~/Messages/Details/?id=@announce.AuthorId" class="">Contatta</a>
                                            </p>
                                        }
                                    }

                                </div>
                                <div class="clearfix"></div>
                            </div>
                       </div>

                    </div>
                </div>

            }
        </div>
<<<<<<< HEAD

        </div>
    </div>







=======
    </div>
>>>>>>> 19711827b9f381f88518d2c15b65778e764bfa04
