@using System.Security.Claims
@using System.Threading.Tasks
@using Microsoft.AspNet.Razor.CodeGenerators.Visitors
@using System.Collections.Generic
@using System.Collections.Immutable
@using System.Net
@using System.Net.Configuration
@using Cianfrusaglie.Models
@model  IEnumerable< Announce > 

@{
    ViewData[ "Title" ] = "Index";
}

@functions 
{

    public User GetAutore(string AuthorId)
    {
        foreach (var user in ViewData["listUsers"] as List<User>)
        {
            if (user.Id == AuthorId)
                return user;
        }
        return null;
    }

    public string GetImages(int AnnounceId)
    {
        foreach (var imm in ViewData["listImages"] as List<ImageUrl>)
        {
            if (imm.AnnounceId == AnnounceId)
                return imm.Url;
        }
        return null;
    }

    public IEnumerable<Announce> GetAnnounce(int idCat)
    {
        foreach (var announce in ViewData["listAnnounce"] as List<Announce>)
        {
            yield return announce;
        }

    }

    public string idDiv = "";

}
<div class="container-search">
    <!--Categorie della ricerca che ho effettuato-->

    <!-- Risultati di ricerca -->
    <div class="row">
        <div class="row">
            <!-- Messaggio se nessun risultato -->
            @if (!Model.Any())
            {
                <div class="panel panel-default">
                    <h4 style="text-align: center">La tua ricerca non ha prodotto nessun risultato</h4>
                </div>
            }
            @foreach (var announce in Model)
            {
                <div class="item active">
                    <div class="">
                        @if (announce.Price == 0)
                        {
                            idDiv = "donation";
                        }
                        @if (announce.Price > 0)
                        {
                            idDiv = "sale";
                        }
                        <div class="col-item" id="@idDiv">
                            <div class="photoThu">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="~/Announces/Details/?id=@announce.Id"><img src="@GetImages(@announce.Id)" class="img-responsive"/></a>
                                }
                                else
                                {
                                    <a href="#" data-toggle="modal" data-target="#myWindow"><img src="@GetImages(@announce.Id)" class="img-responsive" /></a>
                                }
                            </div>

                            <div class="info">


                                <h3>
                                    @if (announce.Title.Length > 20)
                                    {
                                        if (User.Identity.IsAuthenticated)
                                         {
                                             <a href="~/Announces/Details/?id=@announce.Id" style="color: black">
                                                 <h3>@announce.Title.Substring(0, 15)... </h3>
                                             </a>
                                        }
                                        else
                                        {
                                            <a data-toggle="modal" data-target="#myWindow" style="color: black">
                                                <h3>@announce.Title.Substring(0, 15)... </h3>
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        if (User.Identity.IsAuthenticated)
                                        {
                                            <a href="~/Announces/Details/?id=@announce.Id" style="color: black">
                                                <h3>@announce.Title</h3>
                                            </a>
                                        }
                                        else
                                        {
                                            <a data-toggle="modal" data-target="#myWindow" style="color: black">
                                                <h3>@announce.Title</h3>
                                            </a>
                                        }
                                    }
                                </h3>
                                @if (@announce.Price == 0)
                                {
                                    <h5 class="price-text-color">IN REGALO</h5>
                                    <span class="btn-warning btn-sm btn-round card-img"><span class="glyphicon glyphicon-gift"></span></span>
                                }
                                else
                                {
                                    <span class="btn-warning btn-sm btn-round card-img"><span class="glyphicon glyphicon-euro"></span></span>
                                    <h5 class="price-text-color">Prezzo: @announce.Price €</h5>
                                }


                                <!--DI quale categoria fa parte-->
                                <div class="price">
                                    <br/>
                                    <h5>Autore: @GetAutore(announce.AuthorId).UserName</h5>
                                    <br/>
                                </div>
                                
                                    @if (!User.Identity.IsAuthenticated)
                                    {/*
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i>
                                            <a href="#" data-toggle="modal" data-target="#myWindow">Dettagli</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" data-toggle="modal" data-target="#myWindow" class="">Contatta</a>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i>
                                            <a href="~/Announces/Details/?id=@announce.Id" class="">Dettagli</a>
                                        </p>
                                        if (announce.AuthorId != User.GetUserId())
                                        {
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="~/Messages/Details/?id=@announce.AuthorId" class="">Contatta</a>
                                            </p>
                                        }*/
                                    }

                               
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>

            }
        </div>

    </div>
    <div class="paginationDiv" style="text-align: center" >
        <ul class="pagination" >
            <p>Pagine dei risultati</p>
            @{
                for( int page = 0; page < (int) ViewData[ "numberOfPages" ]; page++ ) {
                    int printPage = page + 1;
                    if( (int) ViewData[ "pageNumber" ] == page ) {
                        <li><a href="" class="page-nav" id="page=@page" style="background: #FFC107" >@printPage</a></li>
                    } else {
                        <li><a href="" class="page-nav" id="page=@page" >@printPage</a></li>
                    }
                }
            }
        </ul>
    </div>
</div>
<script>

    var navButton = document.getElementsByClassName("page-nav");
    for( var i = 0; i < navButton.length; i++ ) {

        navButton[ i ].setAttribute('href', window.location.href.replace(/&page=[^&]+/, "") + "&"+navButton[i].id);
    }


</script>













