@using System.Security.Claims
@using System.Threading.Tasks
@using Microsoft.AspNet.Razor.CodeGenerators.Visitors
@using System.Collections.Generic
@using System.Collections.Immutable
@using System.Net
@using System.Net.Configuration
@using Cianfrusaglie.GeoPosition
@using Cianfrusaglie.Models
@model  IEnumerable< Announce > 

@{
    ViewData[ "Title" ] = "Index";
}

@functions 
{

    public string GetImages(int AnnounceId)
    {
        foreach (var imm in ViewData["listImages"] as List<ImageUrl>)
        {
            if (imm.AnnounceId == AnnounceId)
                return imm.Url;
        }
        return null;
    }

    public IEnumerable<Announce> GetAnnounce(int idCat) {
        return ViewData["listAnnounce"] as List<Announce>;
    }

    public string idDiv = "";

}
<div class="container-search">
    <!--Categorie della ricerca che ho effettuato-->

    <!-- Risultati di ricerca -->
    <div class="row">
        <div class="row">
            <!-- Messaggio se nessun risultato -->
            @if (!Model.Any())
            {
                <div class="panel panel-default">
                    <h4 style="text-align: center">La tua ricerca non ha prodotto nessun risultato</h4>
                </div>
            }

            @foreach (var announce in Model)
            {
                <div class="item active">
                    <div class="">
                        @if (announce.Price == 0)
                        {
                            idDiv = "donation";
                        }
                        @if (announce.Price > 0)
                        {
                            idDiv = "sale";
                        }
                        <div class="col-item" style="height: 420px; width: 270px;" id="@idDiv">
                            <div class="photoThu">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="~/Announces/Details/?id=@announce.Id"><img src="@GetImages(@announce.Id)" class="img-responsive"/></a>
                                }
                                else
                                {
                                    <a href="#" data-toggle="modal" data-target="#myWindow"><img src="@GetImages(@announce.Id)" class="img-responsive"/></a>
                                }
                            </div>

                            <div class="info">


                                <h3>

                                    @{
                                        int maxLength = 30;
                                    }
                                    @if( announce.Title.Length > maxLength ) {
                                        if( User.Identity.IsAuthenticated ) {
                                            <div class="fixedTitle" >
                                                <a href="~/Announces/Details/?id=@announce.Id" class="announceTitleSantino" >
                                                    <h3>@announce.Title.Substring( 0, maxLength )... </h3>
                                                </a>
                                            </div>
                                        } else {
                                            <div class="fixedTitle" >
                                                <a data-toggle="modal" data-target="#myWindow" class="announceTitleSantino">
                                                    <h3>@announce.Title.Substring( 0, maxLength )... </h3>
                                                </a>
                                            </div>

                                        }
                                    } else {
                                        if( User.Identity.IsAuthenticated ) {
                                            <div class="fixedTitle" >
                                                <a href="~/Announces/Details/?id=@announce.Id" class="announceTitleSantino" >
                                                    <h3>@announce.Title</h3>
                                                </a>
                                            </div>
                                        } else {
                                            <div class="fixedTitle" >
                                                <a data-toggle="modal" data-target="#myWindow" class="announceTitleSantino" >
                                                    <h3>@announce.Title</h3>
                                                </a>
                                            </div>
                                        }
                                    }
                                </h3>
                                @{
                                    bool hasDistance = false;
                                    int distance = 0;
                                    if( User.Identity.IsAuthenticated ) {
                                        var user = (User) ViewData["LoggedUser"];
                                        if( user.Latitude.HasValue && user.Longitude.HasValue ) {
                                            distance = (int)GeoCoordinate.Distance( user.Latitude.Value, user.Longitude.Value, announce.Latitude, announce.Longitude );
                                            hasDistance = true;
                                        }

                                    }
                                }
                                @if (announce.Price == 0)
                                {
                                    if (hasDistance)
                                    {
                                        <h5 class="price-text-color" style="margin-left: 0" ><b>IN REGALO</b> a <b>@distance Km</b> da te</h5>
                                    }
                                    else {
                                        <h5 class="price-text-color" style="margin-left: 0" ><b>IN REGALO</b></h5>
                                    }

                                    <span class="btn-warning btn-sm btn-round card-img"><span class="glyphicon glyphicon-gift"></span></span>
                                }
                                else
                                {
                                    if (hasDistance)
                                    {
                                        <h5 class="price-text-color" style="margin-left: 0" >Prezzo: <b>@announce.Price €</b> a <b>@distance Km</b> da te</h5>
                                    }
                                    else {
                                        <h5 class="price-text-color" style="margin-left: 0">Prezzo: <b>@announce.Price €</b></h5>
                                    }
                                    <span class="btn-warning btn-sm btn-round card-img"><span class="glyphicon glyphicon-euro"></span></span>
                                    
                                }


                                <!--DI quale categoria fa parte-->
                                <div class="price">
                                    <br/>
                                    <h5>Autore: @announce.Author.UserName</h5>
                                    <!-- Stelline col rating dell'utente (style.css)-->
                                    <div class="star-container">
                                        <div class="star-shape">
                                            <svg viewbox="0 0 61 19">
                                                <defs>
                                                    <mask id="starmask" x="0" y="0" width="100" height="100">
                                                        <rect x="0" y="0" width="100%" height="100%" fill="#fff"/>
                                                        <text text-anchor="middle" x="50%" y="70%" dy="1"> &#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</text>
                                                    </mask>
                                                </defs>
                                                <rect x="0" y="0" width="100%" height="100%" mask="url(#starmask)" fill="#fff" fill-opacity="1"/>
                                                <text text-anchor="middle" x="50%" y="70%" dy="1" color="black"> &#x2606;&#x2606;&#x2606;&#x2606;&#x2606;</text>
                                            </svg>
                                        </div>
                                        @{ string starWidth = ((int) (20*announce.Author.FeedbacksMean)).ToString(); }
                                        <div class="star-colorbar" style="width: @starWidth%">
                                        </div>
                                    </div>
                                    <!-- Fine Stelline col rating dell'utente-->
                                    <br/>
                                </div>

                                @*@if (!User.Identity.IsAuthenticated){/*
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i>
                                            <a href="#" data-toggle="modal" data-target="#myWindow">Dettagli</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" data-toggle="modal" data-target="#myWindow" class="">Contatta</a>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i>
                                            <a href="~/Announces/Details/?id=@announce.Id" class="">Dettagli</a>
                                        </p>
                                        if (announce.AuthorId != User.GetUserId())
                                        {
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="~/Messages/Details/?id=@announce.AuthorId" class="">Contatta</a>
                                            </p>
                                        }*/
                                    }*@


                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>

            }
        </div>

    </div>
    <div class="paginationDiv" style="text-align: center" >
        <ul class="pagination" >
            <p>Pagine dei risultati</p>
            @{
                for( int page = 0; page < (int) ViewData[ "numberOfPages" ]; page++ ) {
                    int printPage = page + 1;
                    if( (int) ViewData[ "pageNumber" ] == page ) {
                        <li><a href="" class="page-nav" id="page=@page" style="background: #FFC107" >@printPage</a></li>
                    } else {
                        <li><a href="" class="page-nav" id="page=@page" >@printPage</a></li>
                    }
                }
            }
        </ul>
    </div>
</div>
<script>

    var navButton = document.getElementsByClassName("page-nav");
    for( var i = 0; i < navButton.length; i++ ) {

        navButton[ i ].setAttribute('href', window.location.href.replace(/&page=[^&]+/, "") + "&"+navButton[i].id);
    }

   </script>













